.design{

    height: auto;
    background-color: bisque;
    height: 660px;
}

.contentdown{
    margin-top: 100px;
}

.spandown{
    margin-top: 200px;
}

.imagebody{
    margin-top: 100px;
    margin-left: 50px;
 
}

.editpic{
    width: 400px;
    margin-left: 150px;
     
 
}